#reordenable tr {
    cursor: move
}

.custom-card {
    width: 369px;
    border-radius: 16px;
    background: #e0e0e0;
    box-shadow: 10px 10px 20px #b1b1b1, -10px -10px 20px #ffffff;
}

.custom-button {
    width: 356px;
    border: none;
    border-radius: 16px;
    box-shadow: 5px 5px 5px #293d5e, -5px -5px 5px #ffffff;
}

.icono {
    display: block;
    z-index: 3;
    margin-left: 9.1rem;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: auto;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 2px #5f5f5f, 0px 0px 0px 5px #ecf0f3, 10px 10px 14px #a7aaaf, -10px -10px 14px #ffffff;
}

.card {
    position: relative;
    width: 369px;
    border: none;
}
.card .face {
    /*position: absolute;*/
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    transition: .5s;
}

    .card .front {
        width: 356px;
        position: absolute;
        background: #e0e0e0;
        box-shadow: 10px 10px 20px #b1b1b1, -10px -10px 20px #ffffff;
        transform: perspective(600px) rotateY(0deg);
    }

    .card .back {
        width: 356px;
        transform: perspective(600px) rotateY(180deg);
        border-radius: 16px;
        background: #e0e0e0;
        display: flex;
        flex-direction: column;
        box-shadow: 10px 10px 20px #b1b1b1, -10px -10px 20px #ffffff;
    }

    .card:hover .front {
        transform: perspective(600px) rotateY(180deg);
    }

    .card:hover .back {
        transform: perspective(600px) rotateY(360deg);
    }