@model NumerosTelefonosViewModel

@{
	ViewData["Title"] = "Home Page";
}

<div class="row">
	<div class="col">
		<h2 class="d-flex">Lista Telefonica</h2>

	</div>

	<div class="col">
		<div class="row justify-content-end">
			<a style="width: fit-content" asp-controller="Home" asp-action="Crear" >
				<button class="btn btn-primary" type="button" style="width: fit-content">
					<img src="imagenes/Icono añadir.png" alt="Icono Añadir" style="width: 25px; margin-right: 7px;" />
					Agregar
				</button>
			</a>
		</div>
	</div>
</div>

<partial name="_ListaAgendaNumeros" model="@Model.Telefonos" />

