@{
	ViewData["Title"] = "Gracias";
}

<h1>Gracias por ponerse en contacto conmigo</h1>
<p>Le contestare lo mas rapido posible</p>
<a class="btn btn-primary" asp-controller="Home" asp-action="Index">Volver al inicio</a>