@model SalarioDTO

@{
    ViewData["Title"] = "Borrar el Salario";
}


<form asp-action="BorrarConfirm" class="Custom-form">

    <div class="text-center">
        <h3>Esta seguro de eliminar @Model.DepartamentoNombre?</h3>
        <h5>Tenga en cuenta que esta accion no se puede deshacer</h5>
    </div>

    <input asp-for="Id" type="hidden" />
    <button type="submit" class="btnB">Borrar</button>
    <a asp-action="Index" class="btnC">Cancelar</a>
</form>