@model Departamento

@{
	ViewData["Title"] = "Borrar departamento";
}



<form asp-action="BorrarConfirm" class="Custom-form">
	<div class="text-center">
		<h2>¿Esta seguro de eliminar "@Model.Nombre"?</h2>
		<h5>Tenga en cuenta que esta accion no se puede deshacer</h5>
	</div>

	<input asp-for="Id" type="hidden" />
	<button type="submit" class="btnB">Borrar</button>
	<a asp-action="Index" class="btnC">Cancelar</a>
</form>