@model Cargo

@{
	ViewData["Title"] = "Borrar cargo";
}

<h3>Esta seguro que quiere eliminar el cargo @Model.Nombre?</h3>

<form asp-action="BorrarConfirm">
	<input asp-for="Id" type="hidden" />
	<button type="submit" class="btn btn-danger">Borrar</button>
	<a asp-action="Index" class="btn btn-primary">Cancelar</a>
</form>