@model IEnumerable<Tarea>

@if (Model.Count() != 0)
{
        <div class="row g-1 justify-content-center justify-content-lg-start mt-3">
        @foreach (Tarea tarea in Model)
        {
                <div class="col-4" style="...">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">@tarea.Titulo</h5>
                            <h6 class="card-subtitle mb-2 text-muted">@tarea.FechaDeVencimiento.ToString(format:"dd/mm/yyyy hh:mm t")</h6>
                            <p class="card-text">@tarea.Descripcion</p>
                        </div>
                        <div class="card-footer">
                            <div class="row justify-content-center"> 
                                <div class="col-3">
                                    <a href="Task/Editar/@tarea.Id">
                                    <button class="btn btn-primary" type="button" style="width: fit-content">Editar</button>
                                    </a>
                                </div>
                                <div class="col-3">
                                    <a href="Task/BorrarTarea/@tarea.Id">
                                    <button class="btn btn-danger" type="button" style="width: fit-content">Eliminar</button>
                                    </a>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                 </div>
        }
        </div>

}
else
{
        <p class="text-center">No hay nada para mostrar</p>
}