@model IEnumerable<Tarea>

<style>
	.custom-card {
		width: 369px;
		border-radius: 16px;
		background: #e0e0e0;
		box-shadow: 10px 10px 20px #b1b1b1, -10px -10px 20px #ffffff;
	}

	.custom-button {
		border: none;
		border-radius: 16px;
		box-shadow: 5px 5px 5px #293d5e, -5px -5px 5px #ffffff;
	}

</style>

@if (Model.Count() != 0)
{
	<div class="row justify-content-center justify-content-lg-start mt-3 gap-3">
		@foreach (Tarea tarea in Model)
		{

			<div class="custom-card card col-4 p-0" style="min-width: 18rem">
				<div class="card-body">
					<img src="~/Images/oie_1492234tsk9McE8.gif" width="40px" />
					<h5 class="card-title">@tarea.Titulo</h5>
					<h6 class="card-subtitle mb-2 text-muted">@tarea.FechaDeVencimiento.ToString(format:"dd/mm/yyyy hh:mm t")</h6>
					<p class="card-text">@tarea.Descripcion</p>
				</div>
				<div>
					<div class="row justify-content-center mb-2">
						<div class="col-3">
							<a href="Task/Editar/@tarea.Id">
								<button class="btn btn-primary custom-button" type="button" style="width: fit-content">Editar</button>
							</a>
						</div>
						<div class="col-3">
							<a href="Task/BorrarTarea/@tarea.Id">
								<button class="btn btn-danger custom-button" type="button" style="width: fit-content">Eliminar</button>
							</a>
						</div>
					</div>

				</div>
			</div>

		}
	</div>

}
else
{
	<p class="text-center">No hay nada para mostrar</p>
	<div style="text-align: center;">
		<img src="~/Images/No hay tarea.jpg" alt="Imagen de no hay tarea" />
	</div>
}